$borderColor: rgb(138, 226, 255);

.Card{
    border: 12.5px solid $borderColor;
    padding: 24px;
    margin-bottom: 50px;
    margin: 5px auto;
}

.CardsTasks{
    padding: 12px 0;
    counter-reset: titleTasksUl;
}

.taskTitle{
    position: relative;
}

.taskTitle::before{
    counter-increment: titleTasksUl;
    content: counter(titleTasksUl) ". ";
}

@media screen and (mix-width: 320px) {
    .Card{
        width: 100%;
    }
}

@media screen and (max-width: 650px) and (min-width: 320px) {
    .Card{
        width: 90%;
    }
    .taskTitle, .taskTitle::before{
        font-size: 17.5px;
    }
    .Card{
        border-width: 7.5px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 650px) {
    .Card{
        margin: 5px 6.5px;
        width: 47.5%;
    }
    .Card{
        border: 7.5px solid $borderColor;
    }
}

@media screen and (min-width: 1440px){
    .Card{
        margin: 5px 18.5px;
        margin-bottom: 50px;
        width: 30%;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
    .Card{
        margin: 24px 13.5px;
        width: 30%;
    }
    .taskTitle, .taskTitle::before{
        font-size: 17.5px;
    }
    .Card{
        border: 7.5px solid $borderColor;
    }
}